In [53]:
import PIL
from PIL import Image
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import math
import os
import sys
import random

### 1

In [100]:
gender_df = DataFrame({'Gender' : [1, 0], 'Probability' : [0.4852, 0.5148]})
gender_df

   Gender  Probability
0       1       0.4852
1       0       0.5148

### 2

In [75]:
random.seed(99)
population_img = Image.open(r'./Distribution/City of Chicago population density circa 2010.jpg')
population_image_sequence = population_img.getdata()
population_image_array = np.array(population_image_sequence)
population_image_series = Series(population_image_array.tolist()).map(lambda x : ', '.join(list(map(str, x))))
population_image_series_vc = population_image_series.value_counts()
population_image_series_vc = population_image_series_vc.iloc[1:]
population_image_series_vc = population_image_series_vc[population_image_series_vc > 100]
population_p  = population_image_series_vc / population_image_series_vc.sum()
population_p = population_p.values.tolist()

x = 30000
num_bins = len(population_p)
lower_ls = list(map(min, np.array_split(range(x), num_bins)))
upper_ls = list(map(max, np.array_split(range(x), num_bins)))
range_ls = list(zip(lower_ls, upper_ls))
random.shuffle(range_ls)
population_df = DataFrame({'Population Density Range' : range_ls, 'Probability' : population_p})
population_df

    Population Density Range  Probability
0               (7128, 7325)     0.120283
1               (2970, 3167)     0.077270
2             (12270, 12466)     0.037713
3             (23499, 23695)     0.036740
4               (5940, 6137)     0.036407
..                       ...          ...
147           (11482, 11678)     0.001331
148             (8910, 9107)     0.001331
149           (10098, 10295)     0.001319
150           (19165, 19361)     0.001293
151           (20347, 20543)     0.001293

[152 rows x 2 columns]

### 3

In [85]:
random.seed(20)
income_img = Image.open(r'./Distribution/Chicago-Median-Household-Income.png')
income_image_sequence = income_img.getdata()
income_image_array = np.array(income_image_sequence)
income_image_series = Series(income_image_array.tolist()).map(lambda x : ', '.join(list(map(str, x))))

income_image_series_vc = income_image_series.value_counts()
income_image_series_vc = income_image_series_vc.iloc[1:]
income_image_series_vc = income_image_series_vc[income_image_series_vc > 100]
income_p  = income_image_series_vc / income_image_series_vc.sum()
income_p = income_p.values.tolist()

x = 300000
num_bins = len(income_p)
lower_ls = list(map(min, np.array_split(range(x), num_bins)))
upper_ls = list(map(max, np.array_split(range(x), num_bins)))
range_ls = list(zip(lower_ls, upper_ls))
random.shuffle(range_ls)
income_df = DataFrame({'Income Range' : range_ls, 'Probability' : income_p})
income_df

         Income Range  Probability
0      (10003, 11431)     0.073294
1      (51444, 52872)     0.023482
2    (174336, 175763)     0.019728
3      (47157, 48585)     0.019662
4    (112891, 114319)     0.019105
..                ...          ...
205    (54302, 55730)     0.000245
206  (280008, 281435)     0.000239
207  (287148, 288575)     0.000237
208  (250020, 251447)     0.000235
209  (264300, 265727)     0.000210

[210 rows x 2 columns]

### 4

In [96]:
age = [(0, 4), (5, 9), (10, 14), (15, 19), (20, 24), (25, 29), (30, 34), (35, 39), (40, 44), (45, 49), (50, 54), (55, 59), (60, 64), (65, 69), (70, 74), (75, 79), (80, 84), (85, 100)]
pct = [3.8, 3.5, 3.3, 3.5, 3.6, 4.8, 4.0, 3.5, 3.3, 3.4, 3.3, 2.8, 2.3, 1.6, 1.2, 0.9, 0.7, 0.5]
pct = list(map(lambda x : x * 0.02, pct))
age_df = DataFrame({'Age Range' : age, 'Probability' : pct})
age_df

    Age Range  Probability
0      (0, 4)        0.076
1      (5, 9)        0.070
2    (10, 14)        0.066
3    (15, 19)        0.070
4    (20, 24)        0.072
5    (25, 29)        0.096
6    (30, 34)        0.080
7    (35, 39)        0.070
8    (40, 44)        0.066
9    (45, 49)        0.068
10   (50, 54)        0.066
11   (55, 59)        0.056
12   (60, 64)        0.046
13   (65, 69)        0.032
14   (70, 74)        0.024
15   (75, 79)        0.018
16   (80, 84)        0.014
17  (85, 100)        0.010

### 5

In [98]:
preference_df = DataFrame({'Preference' : ['Dating', 'Shopping', 'News', 'Social'], 'Probability' : [0.4, 0.3, 0.2, 0.1]})
preference_df.head()

  Preference  Probability
0     Dating          0.4
1   Shopping          0.3
2       News          0.2
3     Social          0.1

In [197]:
customer_number = 1000000
gender_arr = np.random.choice(gender_df['Gender'], p = gender_df['Probability'].values.tolist(), size = customer_number)
age_ls = np.random.choice(age_df['Age Range'], p = age_df['Probability'].values.tolist(), size = customer_number).tolist()
age_arr = np.array(list(map(lambda x : np.random.uniform(low = x[0], high = [1]).tolist()[0], age_ls)))
income_ls = np.random.choice(income_df['Income Range'], p = income_df['Probability'].values.tolist(), size = customer_number).tolist()
income_arr = np.array(list(map(lambda x : np.random.uniform(low = x[0], high = [1]).tolist()[0], income_ls)))
population_ls = np.random.choice(population_df['Population Density Range'], p = population_df['Probability'].values.tolist(), size = customer_number).tolist()
population_arr = np.array(list(map(lambda x : np.random.uniform(low = x[0], high = [1]).tolist()[0], population_ls)))
preference_arr = np.random.normal(loc = 1, scale = 0.5, size = customer_number)

经过市场调查得到模型

z = (0.05(Population)<sup>1/3</sup> - 2.4log(Income) + 0.03(Gender) + 0.013(e<sup>Preference</sup>)) / 0.08e<sup>Age<sup>1/2</sup></sup> 
<br>
y = 1 / (1 + e<sup>-z</sup>)

In [198]:
t = (0.05 * np.cbrt(population_arr) - 2.4 * np.log(income_arr) + 0.03 * gender_arr + 0.013 * np.exp(preference_arr)) / (0.08 * np.exp(np.sqrt(age_arr)))
prob = np.round(1 / (1 + np.exp(-t)), 3)
prob

array([0.023, 0.   , 0.006, ..., 0.024, 0.   , 0.019])

### H1: The daily click-through rate of Tinder app is less than 5%.

In [203]:
choice = list(map(lambda x : np.random.choice([1, 0], p = [x, 1 - x]), prob.tolist()))
sum(choice) / len(choice)

0.087481

### H2: The weather (30 days window size) affects consumers' choices